body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table.devotable {
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid #001F3F;
  border-radius: 5px;
  background-color: #D3D3D3;
  width: 100%;
  text-align: center;
}
table.devotable td, table.devotable th {
  border: 1px solid #001F3F;
  padding: 4px 4px;
}
table.devotable tbody td {
  font-size: 13px;
}
table.devotable thead {
  background: #001F3F;
  background: -moz-linear-gradient(top, #40576f 0%, #193552 66%, #001F3F 100%);
  background: -webkit-linear-gradient(top, #40576f 0%, #193552 66%, #001F3F 100%);
  background: linear-gradient(to bottom, #40576f 0%, #193552 66%, #001F3F 100%);
}
table.devotable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #D3D3D3;
  text-align: center;
  border-left: 2px solid #001F3F;
}
table.devotable thead th:first-child {
  border-left: none;
}

table.devotable tfoot td {
  font-size: 16px;
}

#ads {
    width: 400px;
    background: #D3D3D3;
    border: 4px solid #001F3F;
    border-radius: 20px;
    text-align: center;
    margin: 10px auto;
    color: #001F3F;
    padding: 20px;
}